<mat-card >
    <mat-card-header>
        <mat-card-title>{{projectItem.Prefix}}</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-icon>card_membership</mat-icon>
        <p>{{projectItem.EndNum}}まで</p>
    </mat-card-content>
    <mat-card-actions [ngStyle]="{'display':'flex'}">
        <a [routerLink]="[ '/taskList',projectItem.ID, {Deadline:projectItem['Deadline']} ]"><button mat-raised-button color="primary">詳細</button></a>
        <div class="flex-spacer"></div>
        <button mat-raised-button (click)="onDeleteProject(projectItem.ID)" color="warn">削除</button>
    </mat-card-actions>
</mat-card>